<app-menu></app-menu>
<div class="container mt-5">
    <h2 class="text-center mb-4">Crear Nueva Categoría</h2>
    <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="name" class="form-label">Nombre de la Categoría</label>
        <input type="text" id="name" class="form-control" formControlName="name" placeholder="Ej: Electrónica" />
      </div>
      <button type="submit" class="btn btn-primary w-100" [disabled]="!categoryForm.valid">Crear Categoría</button>
    </form>
  </div>
  