<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

<nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="categories">
      <i class="bi bi-house-door-fill me-2"></i>
      <span class="fw-bold">Inventario</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto d-flex align-items-center gap-2">
        <ng-container *ngIf="role === 'admin'">

          <li class="nav-item">
            <button class="btn btn-purple" (click)="go_import()">
              <i class="bi bi-download"></i> Importar
            </button>
          </li>

          <li class="nav-item">
            <button class="btn btn-outline-primary" (click)="go_createUsers()">
              <i class="bi bi-person-plus"></i> Crear Usuarios
            </button>
          </li>
          <li class="nav-item">
            <button class="btn btn-outline-success" (click)="go_createCategories()">
              <i class="bi bi-folder-plus"></i> Crear Categorías
            </button>
          </li>
          <li class="nav-item">
            <button class="btn btn-outline-warning text-dark" (click)="go_createProducts()">
              <i class="bi bi-box-seam"></i> Crear Productos
            </button>
          </li>
          <li class="nav-item">
            <button class="btn btn-outline-info" (click)="go_orders()">
              <i class="bi bi-cart-check"></i> Pedidos
            </button>
          </li>
          <li class="nav-item">
            <button class="btn btn-outline-danger" (click)="go_remove_and_modify()">
              Borrar secciones
            </button>
          </li>
        </ng-container>
        <li class="nav-item">
          <button class="btn btn-outline-danger" (click)="cerrarSesion()">
            <i class="bi bi-box-arrow-right"></i> Cerrar Sesión
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>