<app-menu></app-menu>
  <div class="container mt-4">
    <h2 class="mb-4 text-center">Categorías</h2>
    <div class="row">
      @for (category of categories; track category.id) {
        <div class="col-md-4 mb-3">
          <div class="card h-100 shadow-sm" (click)="verProductos(category.id)" style="cursor: pointer;">
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
              <h5 class="card-title text-center">{{ category.name }}</h5>
            </div>
          </div>          
        </div>
      }
    </div>
  </div>
  
  
  